Repository the-metalworks/cosmere-rpg, pull requests merged in 2025-07, with the labels that each got.

#449 fix: currency and weight rounding errors 437
  src/style/sheets/item/module.scss
  src/system/data/actor/common.ts
  src/system/utils/handlebars/index.ts
Labels: type | bug, involves | ui, affects | ux, involves | data models, involves | document sheets

#465 fix: sheet edit mode toggle breaking bug
  src/system/applications/actor/base.ts
Labels: type | bug, involves | ui, involves | document sheets

#475 fix: chat card links
  src/system/documents/chat-message.ts
Labels: type | bug, affects | ux, involves | chat message

#466 fix(item event system): improve event loop detection
  src/lang/en.json
  src/system/hooks/item-event-system/handlers/grant-expertises.ts
  src/system/hooks/item-event-system/handlers/grant-items.ts
  src/system/hooks/item-event-system/handlers/modify-attribute.ts
  src/system/hooks/item-event-system/handlers/modify-skill-rank.ts
  src/system/hooks/item-event-system/handlers/remove-expertises.ts
  src/system/hooks/item-event-system/handlers/remove-items.ts
  src/system/hooks/item-event-system/handlers/set-attribute.ts
  src/system/hooks/item-event-system/handlers/set-skill-rank.ts
  src/system/hooks/item-event-system/handlers/update-actor.ts
  src/system/hooks/item-event-system/handlers/update-item.ts
  src/system/hooks/item-event-system/handlers/use-item.ts
  src/system/hooks/item-event-system/index.ts
  src/system/types/config.ts
  src/system/types/item/event-system/event.ts
Labels: type | bug, involves | events system

#477 feat(events system): add replacement option for grant-expertises handler
  src/lang/en.json
  src/system/applications/components/multi-value-select.ts
  src/system/applications/dialogs/edit-expertises.ts
  src/system/hooks/item-event-system/handlers/grant-expertises.ts
  src/templates/general/dialogs/edit-expertises.hbs
  src/templates/item/event-system/handlers/grant-expertises.hbs
Labels: involves | events system

#467 fix(actor data): move resource value clamping from character to common data model
  src/system/data/actor/character.ts
  src/system/data/actor/common.ts
Labels: affects | ux, involves | data models, involves | document sheets

#468 feat(talent tree): add functionality to remove talents from character by right clicking
  src/lang/en.json
  src/system/applications/item/components/talent-tree/canvas/elements/connection.ts
  src/system/applications/item/components/talent-tree/canvas/elements/nodes/talent-node.ts
  src/system/applications/item/components/talent-tree/canvas/elements/nodes/tree-node.ts
  src/system/applications/item/components/talent-tree/canvas/elements/tree.ts
  src/system/applications/item/components/talent-tree/talent-tree-editor.ts
  src/system/applications/item/components/talent-tree/talent-tree-view.ts
  src/system/documents/actor.ts
  src/system/utils/talent-tree.ts
Labels: affects | ux, involves | talent trees

#493 fix: errors on closing locked actors
  src/system/applications/actor/components/adversary/skills.ts
  src/system/applications/actor/components/immunities.ts
  src/system/applications/components/expertises-list.ts
  src/templates/actors/adversary/components/skills.hbs
Labels: type | bug, involves | ui
